.zoom {
	list-style: none;
	font-family: sans-serif;
	font-size: 12px;
	padding: 10px;
}

.zoom li {
	display: inline;
	border: 1px solid black;
	padding: 3px;
	font-size: 14px;
}

.zoom li:hover {
	cursor: pointer;
}

#legend {
	list-style: none;
}

#legend li label, #legend li .diseaseColor {
	float: left;
}

#legend .diseaseColor{
	width: 10px;
	height: 10px;
}

.google-visualization-tooltip{
	width: 200px !important;
	border: 2px solid red !important;
	font-family: sans-serif !important;
} 

section {
	width: 100%;
	margin: auto;
	padding: 10px;
}


div#chart_div{
	width: 80%;
	float: left;
}

div#info_div{
	margin-left: 5%;
	width: 15%;
	float: right;
}
